In [6]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
trainset=pd.read_csv('D:\PyCharm Community Edition 2020.1.3\datasets\\train.csv')
testset=pd.read_csv('D:\PyCharm Community Edition 2020.1.3\datasets\\test.csv')
trainset.head()

                                                text sentiment
0  Now, I won't deny that when I purchased this o...       neg
1  The saddest thing about this "tribute" is that...       neg
2  Last night I decided to watch the prequel or s...       neg
3  I have to admit that i liked the first half of...       neg
4  I was not impressed about this film especially...       neg

In [7]:
testset.head()

                                                text sentiment
0  My daughter liked it but I was aghast, that a ...       neg
1  I... No words. No words can describe this. I w...       neg
2  this film is basically a poor take on the old ...       neg
3  This is a terrible movie, and I'm not even sur...       neg
4  First of all this movie is a piece of reality ...       pos

In [8]:
train_word_senti=trainset.copy(deep=True)
for i,comments in enumerate(trainset['text']):
    train_word_senti['text'].iloc[i]=comments.split()
    train_word_senti['sentiment'].iloc[i]=trainset['sentiment'].iloc[i]
train_word_senti.head()

                                                text sentiment
0  [Now,, I, won't, deny, that, when, I, purchase...       neg
1  [The, saddest, thing, about, this, "tribute", ...       neg
2  [Last, night, I, decided, to, watch, the, preq...       neg
3  [I, have, to, admit, that, i, liked, the, firs...       neg
4  [I, was, not, impressed, about, this, film, es...       neg

In [9]:
test_word_senti=testset.copy(deep=True)
for i,comments in enumerate(testset['text']):
    test_word_senti['text'].iloc[i]=comments.split()
    test_word_senti['sentiment'].iloc[i]=testset['sentiment'].iloc[i]
test_word_senti.head()

                                                text sentiment
0  [My, daughter, liked, it, but, I, was, aghast,...       neg
1  [I..., No, words., No, words, can, describe, t...       neg
2  [this, film, is, basically, a, poor, take, on,...       neg
3  [This, is, a, terrible, movie,, and, I'm, not,...       neg
4  [First, of, all, this, movie, is, a, piece, of...       pos

In [10]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\dell\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [11]:
from nltk.corpus import stopwords
en_stops = set(stopwords.words('english'))

In [12]:
train_o=train_word_senti.copy(deep=True)
def delet_stw(sets,n_ds):
    for i,strings in enumerate(sets['text']):
        n_string=[]
        for words in strings:
            if words not in en_stops:
                n_string.append(words)
        n_ds['text'].iloc[i]=n_string
    return n_ds
train=delet_stw(train_word_senti,train_o)

In [13]:
train.head()

                                                text sentiment
0  [Now,, I, deny, I, purchased, eBay,, I, high, ...       neg
1  [The, saddest, thing, "tribute", almost, singe...       neg
2  [Last, night, I, decided, watch, prequel, shal...       neg
3  [I, admit, liked, first, half, Sleepers., It, ...       neg
4  [I, impressed, film, especially, fact, I, went...       neg

Now lets compare the words left after deleting the stopwords. Focus on the first string in trainset. I listed the deleted words as followed.

In [14]:
difference=[]
for words in train_word_senti['text'].iloc[0]:
    if words not in train['text'].iloc[0]:
        difference.append(words)
print(difference)

["won't", 'that', 'when', 'this', 'off', 'had', 'was', 'an', 'from', 'the', 'of', 'that', 'so', 'was', 'to', 'be', 'to', 'those', 'who', 'but', 'just', 'the', 'to', 'be', 'very', 'to', 'a', 'few', 'but', 'the', 'of', 'the', 'from', 'the', 'on', 'and', 'the', 'was', 'that', 'this', 'was', 'not', 'to', 'if', 'this', 'will', 'the', 'to', 'so', 'if', "you're", 'an', 'and', 'just', 'to', 'own', 'the', 'off', "don't", 'too', 'for']

In [17]:
import sklearn
from sklearn.feature_extraction.text import TfidfVectorizer
tfidfvectorizer = TfidfVectorizer(analyzer='word')
tfidf_wm=train.copy(deep=True)
tfidf_wm.columns=['word_vec','label']

for i in range(len(train)):
    tfidf_wm['word_vec'].iloc[i] = tfidfvectorizer.fit_transform(train['text'].iloc[i])

In [ ]:
#!pip install hub
import hub
embedding = "https://tfhub.dev/google/nnlm-en-dim50/2"
hub_layer = hub.KerasLayer(embedding, input_shape=[], 
                           dtype=tf.string, trainable=True)